body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hole {
    height: 100vh;
    background-color: rgb(145, 52, 52);
    width: 100%;
}

#port, #p, #o, #r, #t {
    color: chartreuse;
}

#port:hover, #p:hover, #o:hover, #r:hover, #t:hover {
    color: white;
}

#folio, #f, #o1, #l, #i, #o2 {
    color: white;
}

#folio:hover, #f:hover, #o1:hover, #l:hover, #i:hover, #o2:hover {
    color: chartreuse;
}

.nav {
    background-color: black;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 14px;
    align-items: center;
    overflow: hidden;
    display: flex;
    z-index: 1000;
}

.nav .name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 80px;
}

.nav .links {
    display: flex;
    margin-right: 120px;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 14px 2px;
    font-size: 18px;
    margin-right:40px;
}

.nav-from-left {
    position: relative;
}

.nav-from-left::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: chartreuse;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-from-left:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home {
    height: 100vh;
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    top: 0;
}

#name1 {
    position: relative;
    left: 200px;
    top: 220px;
    font-size: 60px;
}

#name2 {
    position: relative;
    top: 320px;
    left: -83px;
    font-size: 85px;
    color: chartreuse;
    font-family: 'Poppins', Arial, sans-serif;
}

#name3 {
    font-size: 60px;
    margin-left: 0;
    position: relative;
    top: 420px;
    left: -535px;
}

#cv {
    margin-left: 200px;
    margin-top: 460px;
    height: 40px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 40px; 
    text-decoration: none;
    display: inline-block;
}
#cv:hover {
    background-color: chartreuse;
}
#download-icon{
    margin-left: 10px;
}
.social {
    padding: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.social a {
    text-decoration: none;
    color: inherit; 
}

.social i {
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social i:hover {
    transform: scale(1.2);
    color:chartreuse;
}



.profile-picture {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 250px;
    margin-top: -230px;
}

.profile-picture img {
    width: 430px;
    height: 500px;
    border-radius: 10%;
}







.about {
    padding-top: 70px;
    height: 100vh;
    background-color: #000000;
}

.about-box {
    padding: 30px;
    background-color: #000000;
    color: white;
    border: 10px;
    border-radius: 30px;
    height: 50%;
    width: 40%;
    align-items: center;
    margin-left: 180px;
    display: flex;
}
.about h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}
.about p {
    line-height: 1.6;
    font-size: 19px;
}
.about-box2 h2 {
    color: white;
    margin-top: -390px;
    margin-left: 1000px;
}
.about-work{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    float: right;
    margin-right: 150px;
    margin-top: 30px;
}
.about-work img{
    max-width: 100%;
    height: 58px;
    padding: 20px;
}








.skill {
    padding-top: 70px;
    height: 100vh;
    background-color: #000000;
}
.skill h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 140px;
}

.skill-item {
    background-color: #171616;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill-item img {
    max-width: 100%;
    height: 58px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.skill-item img:hover{
    transform: scale(1.25);
    
}
.skill-item p {
    font-size: 1em;
    margin: 0 ;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%;
}







.timeline {
    padding-top: 70px;
    height: 100vh;
    background-color: #000000;
}

.timeline h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}

.timeline-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px; 
}

.timeline-item-l,
.timeline-item-r {
    background-color: #2e2828;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item-l {
    align-self: start;
    justify-self: start;
    margin-left: 200px;
    margin-right: 800px;
}
.timeline-item-l p{
    font-size: 1em;
    margin: 0 ;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%;
}
.timeline-item-r {
    align-self:end;
    justify-self: end; 
    margin-right: 200px;
    margin-left: 800px;
}
.timeline-item-l p{
    font-size: 1em;
    margin: 0 ;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%;
}











#project {
    padding: 20px;
    background-color: #000000;
}

.project {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    height: 100vh;
    text-align: center;
}

.project h1 {
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.project-grid-b {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3 ease;
}
.project-grid-b:hover{
    transform: scale(1.05);
}

.project-grid-b h2 {
    margin-top: 0;
}







.contact{
    padding-top: 70px;
    height: 100vh;
    background-color: #000000;
}

.contact h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}